In [4]:
import os
import glob as glob
import matplotlib.pyplot as plt
import cv2
import requests

In [5]:

import numpy as np
import pandas as pd
import PIL
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras.models import Sequential

In [6]:
import os
os.listdir()
os.getcwd()

'/voc/work/capstoneProject'

In [30]:
os.listdir()

['.ipynb_checkpoints',
 'images',
 '10.07_Object_Detection_with_YOLO-2.ipynb',
 'project2',
 'Untitled.ipynb',
 'part2',
 'labels.csv',
 '10.07_Object_Detection_with_YOLO-3.ipynb',
 'Detectron2_Personal_Notebook_GoogleDrive_Instance.ipynb']

In [34]:
import pathlib

data_dir = pathlib.Path("./images")

In [35]:
data_dir

PosixPath('images')

In [37]:
image_count = len(list(data_dir.glob('*.jpg')))
print(image_count)

1493

In [38]:
batch_size = 32
img_height = 180
img_width = 180


train_ds = tf.keras.utils.image_dataset_from_directory(
  data_dir,
  validation_split=0.2,
  subset="training",
  seed=123,
  image_size=(img_height, img_width),
  batch_size=batch_size)

Found 5 files belonging to 1 classes.
Using 4 files for training.

In [40]:

# Defining the columns to read
usecols = ["image_index", "class_label", "bx", "by", "bw", "bh"]

df = pd.read_csv("labels.csv",names=usecols)

In [41]:
df.head(5)

   image_index        class_label   bx  by   bw   bh
0            0       pickup_truck  213  34  255   50
1            0                car  194  78  273  122
2            0                car  155  27  183   35
3            0  articulated_truck   43  25  109   55
4            0                car  106  32  124   45

In [45]:
df['class_label'].unique()

array(['pickup_truck', 'car', 'articulated_truck', 'bus',
       'motorized_vehicle', 'work_van', 'single_unit_truck', 'pedestrian',
       'bicycle', 'non-motorized_vehicle', 'motorcycle'], dtype=object)

In [46]:
classNum=len(df['class_label'].unique())

In [47]:
classNum

11